.room {
    border: 1px var(--color-danger);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: var(--color-primary);
    display: flex;
}

.room fa-icon {
    padding-right: 1rem;
}
