@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'good_times_rg';
        src: url('/assets/fonts/good_times_rg.otf');
    }
    @font-face {
        font-family: 'prototype.regular';
        src: url('/assets/fonts/prototype.regular.ttf');
    }
}

@import './assets/themes/light.scss';
@import './assets/themes/futuristic.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-label);
    background: var(--color-page);
}

.top-pad {
    margin-top: 16px;
}
.h-pad {
    margin: 0 16 px;
}
.v-pad {
    margin: 16px 0;
}
.left-pad {
    margin-left: 8px;
}
.flex-spacer {
    flex: 1 1 auto;
}

.p-dropdown,
.p-dropdown-panel {
    background-color: var(--color-secondary) !important;
    color: var(--color-label) !important;
}

.p-calendar,
.p-dropdown {
    /* width: 100%; */
    margin-bottom: 1rem;
}

.p-field {
    margin-bottom: 1rem;
}

.p-field label {
    display: block;
    margin-bottom: 0.5rem;
}

.p-button {
    background-color: var(--color-primary) !important;
    color: var(--color-label) !important;
}

.p-calendar {
    background-color: var(--color-secondary) !important;
    color: var(--color-label) !important;

    .p-inputtext {
        background-color: var(--color-secondary) !important;
        color: var(--color-label) !important;
    }
}

.p-datepicker {
    background-color: var(--color-secondary) !important;
    color: var(--color-label) !important;

    .p-datepicker-header,
    .p-datepicker-calendar-container {
        background-color: var(--color-secondary) !important;
        color: var(--color-label) !important;
    }

    .p-datepicker-calendar {
        td {
            > span,
            > button {
                background-color: var(--color-secondary) !important;
                color: var(--color-label) !important;

                &:hover {
                    background-color: var(--color-primary) !important;
                }
            }
        }
    }
}
