@use 'theme';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.top-pad {
    margin-top: 16px;
}
.h-pad {
    margin: 0 16 px;
}
.v-pad {
    margin: 16px 0;
}
.left-pad {
    margin-left: 8px;
}
.flex-spacer {
    flex: 1 1 auto;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

