html[data-theme='futuristic'] {
    --color-primary: #2f334d;
    --color-secondary: #1e2030;
    --color-success: #86d77f;
    --color-danger: #ec574b;
    --color-info: #c8d3f5;
    --color-label: #7d86b2;
    --color-page: #222436;

    --font-primary: 3rem;
    --font-label: 2rem;

    --font-family-sans: 'good_times_rg';
    --font-family-serif: 'prototype.regular';
    --font-family-mono: 'Courier New';
}
