html[data-theme='futuristic'] {
    --color-primary: #3c198d;
    --color-secondary: #909090;
    --color-success: #6ccade;
    --color-danger: #8a170b;
    --color-info: #ffffff;
    --color-label: #ffffff0d;

    --font-primary: 3rem;
    --font-label: 2rem;

    --font-family-sans: 'good_times_rg';
    --font-family-serif: 'prototype.regular';
    --font-family-mono: 'Courier New';
}
