html[data-theme='light'] {
    --color-primary: #0c198d;
    --color-secondary: #909090;
    --color-success: #6ccade;
    --color-danger: #8a170b;
    --color-info: #ffffff;
    --color-label: #ffffff0d;

    --font-primary: 3rem;
    --font-label: 2rem;

    --font-family-sans: 'Noto Serif';
    --font-family-serif: 'Noto Sans';
    --font-family-mono: 'Courier New';
}
